.main-game {
    background-image: url("../images/baccarat-table.png");
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

i {
    font-size: 34px;
}

.main {
    width: 100%;
    display: flex;
    height: 100vh;
}

.main-sidebar {
    width: 17%;
    font-family: Arial, sans-serif;
}

.rewards-container {
    font-weight: 400;
    margin: 15px;
    padding: 9px 22px;
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
    color: white;
    background: linear-gradient(#61019b 8.8%, #005fc8);
}

.featured-msg {
    font-size: 12px;
    font-weight: 400;
}

.main-game {
    width: 83%;
}

.featured-text {
    font-size: 18px;
}

.rewards-carousel-img {
    height: 86px;
    width: 100%;
    margin-bottom: -4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.featured-game-btns > a {
    font-size: 14px;
    padding: 6px;
}

.featured-game-btns {
    padding: 12px;
    background: #302FAA;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rewards-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.featured-game-btns > a:last-of-type {
    background: rgb(50, 185, 100);
    border: 1px solid rgb(50, 185, 100);
    margin-left: 4px;
    border-radius: 3px;
}

.featured-game-btns>a:first-of-type {
    border: 1px solid white;
    border-radius: 3px;
}

.rich-text-line {
    display: block;
    width: 90%;
    border-bottom: 3px solid #cfd6db;
}

.text-break-line {
    display: flex;
    justify-content: center;
}

.recently-played-container {
    text-align: left;
}

.recently-played-text {
    font-size: 16px;
    font-weight: 700;
    margin: 15px;
}

.recently-played-game-container {
    width: 195px;
    margin: 13px 0;
}

.recently-played-game-container:hover {
    cursor: pointer;
}

.game-img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-out .1s, opacity .3s ease-out .1s;
    opacity: .95;
}

.game-img-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 248px;
    width: 100%;
    border-radius: 16px;
}

.game-img-wrapper > img:hover {
    transform: scale3d(1.08, 1.08, 1);
    border-radius: 16px;
    opacity: 1;
}

.recently-played-container {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

.game-name {
    font-size: 14px;
    font-weight: 600;
}

.game-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
}

.game-description {
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

#blackjack-game-container {
    margin-top: 0;
}

.fav-component {
    opacity: 30%;
}

.fav-component:hover {
    color: rgb(85, 26, 139);
    opacity: 1;
}

.main {
    background-color: #FBFBFB;
    height: 100%;
}
