.main-game {
    background-image: url("../images/baccarat-table.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px 15px 0 0;
    border-radius: 8px;
    color: #BAD7C8;
}

.main-game h1, .main-game div {
    border: 1px solid black;
}

.game-top {
    height: 440px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.game-top-fanduel-logo > img {
    height: 35px;
}

.card-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.player-box, .banker-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.player-box > h1, .banker-box > h1 {
    font-size: 40px;
    font-weight: bold;
}

.player-cards, .banker-cards {
    width: 100%;
    height: auto;
    max-height: 330px;
    padding: 20px;
    text-align: center;
}

.player-cards > img, .banker-cards > img {
    width: 45%;
    height: auto;
    border-radius: 12px;
}

.player-box {
    border-right: 3px solid white;
}

.min-bet, .max-bet {
    display: flex;
    justify-content: space-between;
}

.bet-limits span:nth-of-type(1) {
    margin-right: 15px;
}

.bet-limits > p {
    margin-bottom: 5px;
}

.bet-limits > div {
    margin-bottom: 2px;
}

.game-top-fanduel-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-top-fanduel-logo > p {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}

.bet-limits {
    border-radius: 5px;
    padding: 7px;
    height: 85px;
    width: 250px;
    border: 2px solid #ffc926a1;
    background: #333;
    content: '';
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.game-bottom {
    height: 480px;
}